

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
html{
    scroll-behavior: smooth;
    font-family: 'Arial', sans-serif;
}

/* VARIABLES */
:root{
    --background-color: #ffffff;
    --altura-header: 70px;
    --altura-footer: 70px;
    --text-color: #fff;
}

body{
    display: grid;
    height: 100dvh;
    grid-template-rows: auto 1fr auto;
    font-size: 14px;
}

main{
    margin-top: var(--altura-header);
    margin-bottom: var(--altura-footer);
    background-color: aqua;
    padding-bottom: var(--altura-footer);
}

.carrusel-container{
    border: 2px solid red;
    background-color: burlywood;
    position: relative;
    height: 300px;
    padding: 15px;
}

.carrusel-container .mensaje{
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%,-50%);
    font-size: 36px;
}


.servicios-container .collage{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
}

.servicios-container .ventas{
    height: 300px;
    display: grid;
    grid-template-rows: 20% auto;

}

.servicios-container .ventas h1{
    grid-row: 1;
    grid-column: span 2;

}

.servicios-container .sobre-nosotros, .servicio-despacho, .servicios-bandejas, .servicio-rebanadas{
    height: 300px;
    width: auto;
    display: grid;
    grid-template-columns: 50% 50%;

}


/* ! solo para ver la distribucion de las section y div */
section{
    border: 10px solid green;
    padding: 15px;
}

section div{
    border: 2px solid yellow;
}



/* ? como la resolucion sobrepasa los 600px de width se aplica */
/* Estilos para tabletas */
@media (min-width: 601px) {
    body {
        font-size: 16px;
    }
}

/* Estilos para computadoras de escritorio */
@media (min-width: 1024px) {
    body {
        font-size: 18px;
    }

}