

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
html{
    scroll-behavior: smooth;
    font-family: 'Arial', sans-serif;
}

/* VARIABLES */
:root{
    --background-color: #ffffff;
    --altura-header: 70px;
    --altura-footer: 70px;
    --text-color: #fff;
    --color_primary: rgb(32,23,51);
    --color_secondary: rgb(255,203,143);

    --query1: 370px;
    --query2: 820px;
    --query3: 1024px;

}

body{
    display: grid;
    height: 100dvh;
    grid-template-rows: auto 1fr auto;
    font-size: 14px;
}

body p{
    text-transform:lowercase;
}

main{
    margin-top: var(--altura-header);
    margin-bottom: var(--altura-footer);
    background-color: aqua;
    padding-bottom: var(--altura-footer);
}

section{
    margin-bottom: 20px;
    background-color: rgb(121, 0, 220);
}


.servicios_container .ventas{
    height: 300px;
    display: grid;
    grid-template-rows: 20% auto;

}

.servicios_container .ventas h1{
    grid-row: 1;
    grid-column: span 2;

}

.servicios_container .servicio-despacho, .servicios-bandejas, .servicio-rebanadas{
    height: 300px;
    width: auto;
    display: grid;
    grid-template-columns: 50% 50%;

}


/* ! solo para ver la distribucion de las section y div */
section{
    border: 6px solid green;
}

section article{
    border: 10px solid rgb(0, 21, 255);
}
/* 
section div{
    border: 2px solid yellow;
}
 */


/* ? como la resolucion sobrepasa los 600px de width se aplica */
/* Estilos para tabletas */

@media (min-width: 370px) {
    .header .nav_bar{  
        background-color: #ff0000;
    }
}
@media (min-width: 820px) {
    body {
        font-size: 16px;
    }

    
}

/* Estilos para computadoras de escritorio */
@media (min-width: 1024px) {
    body {
        font-size: 18px;
    }

}
