

/* ? ADMIN */

.close_admin {
    position: absolute;
    cursor: pointer; 
    top: 0px;
    right: 15px;
    font-size: 40px;
}

.popup_admin {
    display: none; /* Oculta la ventana emergente por defecto */
    position: fixed; /* Posiciona la ventana emergente */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Fondo oscuro con opacidad */
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
    opacity: 0; /* Inicialmente invisible */
    transition: opacity 0.3s ease; /* Transición de opacidad */
}

.popup_admin .content_admin {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    transform: translate(-50%, -50%) scale(0); /* Escala inicial en 0 */
    transition: transform 0.3s ease; /* Transición de escala */

    width: 70%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



.content_admin .admin_form{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border: 2px solid rgba(0, 0, 0, .1);
    border-radius: 20px;
    margin: 20px 0 15px 0;
    padding: 10px;
}

.admin_form label{
    width: 100%;
    margin-bottom: 5px;
}

.admin_form input{
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    border-radius: 9px;
    padding: 5px;
    border: none;
    outline-color: var(--color_primary);
    background-color: #eee;
    transition: all 0.1s cubic-bezier(0.645, 0.045, 0355, 1);
}

.adminSesion[type="submit"]{
    margin-top: 10px;
    color: var(--color_primary);
    background-color: var(--color_secondary);
}

.adminSesion:hover{
    box-shadow: 3px 4px 0px rgba(0, 0, 0, 0.5);
    transition: all .3s ease;
}
.adminSesion:active{
    box-shadow: unset;
    transition: all .1s ease;
}
.content_admin p{
    margin-bottom: 5px ;
}
.popup_admin .content_admin p,button{
    font-size: 12px;
}

.openPopup_registro{
    cursor: pointer;
    color: #003DFF;
    background-color: #ffffff;
    border: none;
}



/* ? REGISTRO */

.openPopup_login2, .openPopup_login3{
    cursor: pointer;
    color: #003DFF;
    background-color: #ffffff;
    border: none;
}

.close_registro {
    position: absolute;
    cursor: pointer; 
    top: 0px;
    right: 15px;
    font-size: 40px;
}

.popup_registro {
    display: none; /* Oculta la ventana emergente por defecto */
    position: fixed; /* Posiciona la ventana emergente */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Fondo oscuro con opacidad */
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
    opacity: 0; /* Inicialmente invisible */
    transition: opacity 0.3s ease; /* Transición de opacidad */
}


.popup_registro .content_registro {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    transform: translate(-50%, -50%) scale(0); /* Escala inicial en 0 */
    transition: transform 0.3s ease; /* Transición de escala */

    width: 70%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content_registro .registro_form{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border: 2px solid rgba(0, 0, 0, .1);
    border-radius: 20px;
    margin: 20px 0 15px 0;
    padding: 10px;
}

.registro_form label{
    width: 100%;
    margin-bottom: 5px;
}

.registro_form input{
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    border-radius: 9px;
    padding: 5px;
    border: none;
    outline-color: var(--color_primary);
    background-color: #eee;
    transition: all 0.1s cubic-bezier(0.645, 0.045, 0355, 1);
}

.registrarse[type="submit"]{
    margin-top: 10px;
    color: var(--color_primary);
    background-color: var(--color_secondary);
}

.registrarse:hover{
    box-shadow: 3px 4px 0px rgba(0, 0, 0, 0.5);
    transition: all .3s ease;
}
.registrarse:active{
    box-shadow: unset;
    transition: all .1s ease;
}
.content_registro p{
    margin-bottom: 5px ;
}
.popup_registro .content_registro p,button{
    font-size: 12px;
}

.openPopup_registro{
    cursor: pointer;
    color: #003DFF;
    background-color: #ffffff;
    border: none;
}





/* ? LOGIN */

/* boton del nav bar */
.openPopup_login{
    cursor: pointer;
    background-color: var(--color_primary);
    border-radius: 10px;
    color: #ffffff;
    width: 120px;
    height: 25px;
    font-size: 12px;
    margin: 0 20px 0 20px;
    grid-column: 2;
}

.close_login {
    position: absolute;
    cursor: pointer; 
    top: 0px;
    right: 15px;
    font-size: 40px;
}


.popup_login {
    display: none; /* Oculta la ventana emergente por defecto */
    position: fixed; /* Posiciona la ventana emergente */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Fondo oscuro con opacidad */
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
    opacity: 0; /* Inicialmente invisible */
    transition: opacity 0.3s ease; /* Transición de opacidad */
}

.popup_login .content_login {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    transform: translate(-50%, -50%) scale(0); /* Escala inicial en 0 */
    transition: transform 0.3s ease; /* Transición de escala */

    width: 70%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



.content_login .login_form{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border: 2px solid rgba(0, 0, 0, .1);
    border-radius: 20px;
    margin: 20px 0 15px 0;
    padding: 10px;
}

.login_form label{
    width: 100%;
    margin-bottom: 5px;
}

.login_form input{
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    border-radius: 9px;
    padding: 5px;
    border: none;
    outline-color: var(--color_primary);
    background-color: #eee;
    transition: all 0.1s cubic-bezier(0.645, 0.045, 0355, 1);
}

.ingresar[type="submit"]{
    margin-top: 10px;
    background-color: var(--color_secondary);
}

.ingresar:hover{
    box-shadow: 3px 4px 0px rgba(0, 0, 0, 0.5);
    transition: all .3s ease;
}
.ingresar:active{
    box-shadow: unset;
    transition: all .1s ease;
}
.content_login p{
    margin-bottom: 5px ;
}
.popup_login .content_login p,button{
    font-size: 12px;
}

.openPopup_registro, .openPopup_admin{
    cursor: pointer;
    color: #003DFF;
    background-color: #ffffff;
    border: none;
}



