


/* ? ADMIN */

.popup_admin {
    display: none; /* Oculta la ventana emergente por defecto */
    position: fixed; /* Posiciona la ventana emergente */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Fondo oscuro con opacidad */
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
    opacity: 0; /* Inicialmente invisible */
    transition: opacity 0.3s ease; /* Transición de opacidad */
}

.popup_admin .content_admin {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    transform: translate(-50%, -50%) scale(0); /* Escala inicial en 0 */
    transition: transform 0.3s ease; /* Transición de escala */

    width: 70%;
    height: 50%;
}

.close_admin {
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón de cerrar */
    float: right;
    font-size: 20px;
}

