@import "../style.css";

.footer{
    position: fixed; 
    bottom: 0; 
    left: 0; 
    width: 100%;
    display: flex;
    align-items: center;
    
    height: var(--altura-footer);
    background-color: var(--color_primary);
    color: white; 
    z-index: 1000; 
}