@import "../style.css";

:root{
    --width-icon:30px;

    --state-carrito: scale(1);
    --state-close-carrito: scale(0);

    --state-hamburguer: scale(1);
    --state-close-menu: scale(0);

    --state-menu: translate(-100%);
    --opacity_menu: 0;

    --altura-div: 50px;
}

.header{
    position: fixed;
    top: 0; 
    left: 0; 
    width: 100%;
    height: var(--altura-header);
    display: flex;
    align-items: center;
    z-index: 3000; 
    color: rgb(0, 0, 0); 
}

.header .nav_logo{
    color: #ffffff;
    border: 2px Solid red;
    justify-content: center;
    align-items: center;
}

.header .nav-container{
    padding: 0 30px 0 30px;
    width: 100%;
}

.header .nav_bar{
    padding: 0 5px 0 5px;
    height: inherit;
    display: grid;

    align-items: center;
    justify-content:space-between;
    grid-template-columns: auto auto repeat(2, 40px);

    background-color: var(--color_secondary);
}

.header .nav_bar .nav-carrito, .nav-close-carrito, .nav-hamburger, .nav-close{
    width: 30px;
    margin-left: 5px;
}

.header .nav_bar .nav_links li a{
    text-decoration: none;
    color: rgb(248, 248, 248);

    opacity: var(--opacity_menu);
    transition: .5s opacity;
}

.carrito{
    height: var(--altura-div);
    background-color: aquamarine;
}


.nav_links{
    list-style: none;
    position: absolute;
    top: var(--altura-header);
    left: 0;
    right: 0;
    bottom: var(--altura-footer);

    transform: var(--state-menu);
    transition: all .3s ease-out;
    height: 100dvh;
    width: 50%;
    padding-top: 50px;
    padding-left: 15px;
    font-size: 25px;
    
    background-color: #333;
    color: rgb(255, 255, 255);
    display: grid;
    align-items: center;
    justify-content:center;
    grid-template-rows: repeat(5, 80px);
}

/* * atrubitos que se aplican cuando esta abierto el menu  */

.carrito:target{
    --state-close-carrito: scale(1);
    --state-carrito: scale(0);
    
    --altura-div: 300px;
}
.nav-carrito,
.nav-close-carrito{
    grid-column: -3/-2;
    grid-row: 1/2;
    transition: .4s transform;
}
.nav-carrito{
    transform: var(--state-carrito);
}
.nav-close-carrito{
    transform: var(--state-close-carrito);
}

.nav_bar:target{
    --state-close-menu: scale(1);
    --state-hamburguer: scale(0);
    --state-menu: translate(0);
    --opacity_menu: 1;
}
.nav-hamburger,
.nav-close{
    grid-column: -2/-1;
    grid-row: 1/2;
    transition: .4s transform;
}
.nav-hamburger{
    transform: var(--state-hamburguer);
}
.nav-close{
    transform: var(--state-close-menu);
}


/* ? animacion para agrandar los botones del menu */
.header .nav_bar .nav_links li{
    transition: scale 0.3s ease-in-out;
    scale: 1;
}
.header .nav_bar .nav_links li:hover{
    transition: scale 0.3s ease-in-out;
    scale: 1.2;
}



/* TODO botones de carrito y menu */
.header .nav_bar a{
    height: 30px;   
}

.nav-icon{
    width: var(--width-icon);
    height: var(--width-icon);
    cursor: pointer;
}


/* ? como la resolucion sobrepasa los 600px de width se aplica */
/* Estilos para tabletas */

@media (min-width: 390px) {
    .header .nav_bar{  
        background-color: var(--color_secondary);
    }
}
@media (min-width: 820px) {
    body {
        font-size: 16px;
    }

    .nav_logo{
        grid-column: 1;
    }
    .header .nav_bar .nav-hamburger, .nav-close{
        display: none;
    }
    

    .header .nav_bar{
        grid-template-columns: auto auto auto auto;

    }

    .nav_links{
        all: unset;
    }
    .header .nav_bar .nav_links{
        margin: 0;
        list-style: none;
        position: relative;

        height: 100%;
        width:auto;
        opacity: 1;
        
        background-color: #c99a9a;
        border: 2px solid rgb(191, 255, 0);
        color: rgb(0, 0, 0);
        display: grid;
        grid-column: 2;
        align-items: center;

        grid-template-rows: 1;
        grid-template-columns: repeat(5, auto);
        justify-content: space-around;
        --opacity_menu: 1;
    }

    .nav_links li{
        color: rgb(0, 0, 0);
    }

    .header .nav_bar .nav_links li a{
        opacity: 1;
        margin: 0 0 0 10px;
        font-size: 20px;
        color: rgb(0, 0, 0);
        
    }

    .openPopup_login{
        grid-column: 3;
        margin: 0 0 0 10px;
    }

    .nav-carrito, .nav-close-carrito{
        grid-column: 4;
        
    }
    

    
}

/* Estilos para computadoras de escritorio */
@media (min-width: 1024px) {
    body {
        font-size: 18px;
    }

    .header .nav_bar{
        padding-left: 20px;
        padding-right: 30px;
        grid-template-columns: auto 70% 150px 40px;
    }

    .header .nav_bar .nav_links{
        top: 2px;
        grid-template-columns: repeat(5, auto);
        gap: 25px;
        padding-left: 30px;
        justify-content: flex-end;
        background-color: var(--color_secondary);
    }
    
}


/* ! PARA HACER UNA ANIMACION */
/* 
@keyframes escalarYDesvanecer {
    0%{
        transform: scale(0);
        opacity: 0;
    }
    50% {
        transform: scale(1.2);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
} 
*/
