
:root{
    --padding_servicios: 30px;
    --padding_servicios_img: 40px;
    --font_titulo: 24px;
    
}

.servicios_container .sobre_nosotros{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 220px;
    padding: 15px;
    gap: 5px;
}
.imagen_content{
    width: 50%;
    height: 200px;
    overflow: hidden;
    border-radius: var(--padding_servicios_img) 0px;
}
.sobre_nosotros .imagen_content img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.sobre_nosotros h1{
    font-size: var(--font_titulo);
}
.sobre_nosotros .info{
    width: 50%;
    padding: 10px;
}


.servicios_container .nuestros_servicios{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(88, 0, 160);
    padding: 15px;
}
.nuestros_servicios h1{
    font-size: 36px;
}
.servicios_container .nuestros_servicios .nuestros_servicios_content{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 15px;

    padding-top: 10px;
}
.nuestros_servicios_content div{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: azure;
    border-radius: 40px 0px ;
    overflow: hidden;
}
.nuestros_servicios_content div img{
    height: 90%;
    width: 90%;
    object-fit: cover;
}


.servicios_container .collage{
    display: flex;
    justify-content: center;
    overflow: hidden;
    width: 100%; 
    height: 300px; 
    overflow: hidden;
}
.collage .imagen_collage{
    width: 100%; 
    height: 100%; 
    object-fit: cover;
}
.collage h1{
    position: absolute;
    transform: translateY(50%);
    color: azure;
    z-index: 1000;
    font-size: 32px;
}

.servicios_container .servicio_despacho{
    padding: 15px;
}
.servicios_container .servicio_despacho .servicio_despacho_content, .ventas, .servicios_bandejas, .servicio_rebanadas{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 220px;
    padding: 15px;
    gap: 5px;
}
.servicio_despacho_content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 220px;
    padding: 15px;
    gap: 5px;
    background-color: blueviolet;
    border-radius: var(--padding_servicios) 0px;
}
.servicio_despacho .imagen_content{
    width: 50%;
    height: 200px;
    overflow: hidden;
    border-radius: var(--padding_servicios_img) 0px;
}
.servicio_despacho_content .imagen_content img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.servicio_despacho_content h1{
    font-size: var(--font_titulo);
}
.servicio_despacho_content .info{
    width: 50%;
    padding: 10px;
}




